# This code create the training Images of size 600 x 600 pixels and Converts JSON files to CSV files containing corresponding coordinate. 
## The images are saved to training_data/train_images folder
## The labels are saved to training_data/train_labels
## combined Labels are saved as single csv file in training_data/ folder

In [2]:
import os
import scipy.misc as misc
import numpy as np
from copy import deepcopy
import cv2 as cv
import glob
import json
import pandas as pd
import shutil
from pandas.io.json import json_normalize

In [3]:
images = sorted(glob.glob('raw_data/raw_train_images/*.jpg'))
labels = sorted(glob.glob('raw_data/raw_train_annotation/*.json'))

In [4]:
save_dir= os.path.join('training_data/')

In [5]:
print ('find image', len(images))
print ('find label', len(labels))

find image 3
find label 3

In [6]:
# function beflow crops the large image and annotation data to width x height pixels
def clip_image(file_idx, image, df, width, height):
    boxes_all= np.array(df.values.tolist())
    columns= ['filename','width', 'height','category','x1','y1','x2','y2']
    combined_df= pd.DataFrame(columns= columns)
    print('image shape', image.shape)
    if len(boxes_all) >0:
        shape = image.shape
        for start_h in range(0, shape[0], height):
            for start_w in range(0, shape[1], width):
                boxes = deepcopy(boxes_all)
                box= np.zeros_like(boxes_all)
                start_h_new = start_h
                start_w_new = start_w
                if start_h + height > shape[0]:
                    start_h_new= shape[0] - height
                if start_w + width > shape[1]:
                    start_w_new = shape[1] - width
                top_left_row = max(start_h_new, 0)
                top_left_col = max(start_w_new, 0)
                bottom_right_row = min(start_h + height, shape[0])
                bottom_right_col = min(start_w + width, shape[1])
                
                subImage = image[top_left_row:bottom_right_row, top_left_col: bottom_right_col]
                
                # x co-ordinates of images 
                box[:, 4] = boxes[:, 4].astype('float64') - top_left_col
                box[:, 6] = boxes[:, 6].astype('float64') - top_left_col
                
                # y co-ordinates of images
                box[:, 5] = boxes[:, 5].astype('float64') - top_left_row
                box[:, 7] = boxes[:, 7].astype('float64') - top_left_row
                
                center_y = 0.5*(box[:, 5].astype('float64') + box[:, 7].astype('float64'))
                center_x = 0.5*(box[:, 4].astype('float64') + box[:, 6].astype('float64'))
                
                cond1 = np.intersect1d(np.where(center_y[:] >=0 )[0], np.where(center_x[:] >=0 )[0])
                cond2 = np.intersect1d(np.where(center_y[:] <= (bottom_right_row - top_left_row))[0],
                                        np.where(center_x[:] <= (bottom_right_col - top_left_col))[0])
                idx = np.intersect1d(cond1, cond2)
                
                if len(idx)> 0:
                    new_img_name= file_idx + '_' + str(top_left_row).zfill(5) + '_' + str(top_left_col).zfill(5) +'.jpg'
                    split_df= df.loc[idx]
                    split_df.iloc[:,0]= new_img_name
                    split_df.iloc[:,1]= width
                    split_df.iloc[:,2]= height
                    split_df.iloc[:,4]= split_df.iloc[:,4] - top_left_col
                    split_df.iloc[:,6]= split_df.iloc[:,6] - top_left_col
                    split_df.iloc[:,5]= split_df.iloc[:,5] - top_left_row
                    split_df.iloc[:,7]= split_df.iloc[:,7] - top_left_row
                    lbl_name= os.path.join(save_dir, 'train_labels', "%s_%05d_%05d.csv" % (file_idx, top_left_row, top_left_col))
                    split_df.to_csv(lbl_name, index= False)
                    combined_df=combined_df.append(split_df,ignore_index=True)
#                     print(lbl_name)
#                     print(split_df)
                    del(split_df)
                    
                    if subImage.shape[0] > 5 and subImage.shape[1] >5:
                        img = os.path.join(save_dir, 'train_images', "%s_%05d_%05d.jpg" % (file_idx, top_left_row, top_left_col))
                        cv.imwrite(img, subImage)
#                         print(img)
                        del(subImage)
    return(combined_df)

In [7]:
columns= ['filename','width', 'height','category','x1','y1','x2','y2']
final_df= pd.DataFrame(columns= columns)
final_df

Empty DataFrame
Columns: [filename, width, height, category, x1, y1, x2, y2]
Index: []

In [8]:
for i in range(0, len(images)):
    json_file = open(labels[i], "r")
    d = json.load(json_file)
    json_file.close()
    df = json_normalize(d, 'labels').assign(**d['attributes'])
    data_list = []
    row=0
    for row in range(df.shape[0]):
        data = df['box2d'][row]
        data_list.append(data)

    new_df= pd.DataFrame(data_list)
    # new_df
    df=pd.concat([df, new_df],1)
    df['filename']=labels[i].split('\\')[-1].split('.')[0]+'.jpg'
    image=misc.imread(images[i])
    h,w,d= image.shape
    df['width']=w
    df['height']=h
    df=df.drop(['box2d','place'],axis=1)
    df= df[['filename','width','height','category','x1','y1','x2','y2']]
    file_idx= images[i].strip('.jpg').split('\\')[-1]
    width=600
    height=600
    # boxes_all= np.array(df.values.tolist())
    
    img_label_df=clip_image(file_idx, image, df, width, height)
    final_df=final_df.append(img_label_df,ignore_index=True)

C:\Users\w24875.AD-HZM\AppData\Local\Continuum\anaconda3\lib\site-packages\PIL\Image.py:2438: DecompressionBombWarning: Image size (167691888 pixels) exceeds limit of 89478485 pixels, could be decompression bomb DOS attack.
  DecompressionBombWarning)

image shape (12194, 13752, 3)

C:\Users\w24875.AD-HZM\AppData\Local\Continuum\anaconda3\lib\site-packages\PIL\Image.py:2438: DecompressionBombWarning: Image size (167688768 pixels) exceeds limit of 89478485 pixels, could be decompression bomb DOS attack.
  DecompressionBombWarning)

image shape (12192, 13754, 3)

C:\Users\w24875.AD-HZM\AppData\Local\Continuum\anaconda3\lib\site-packages\PIL\Image.py:2438: DecompressionBombWarning: Image size (167664384 pixels) exceeds limit of 89478485 pixels, could be decompression bomb DOS attack.
  DecompressionBombWarning)

image shape (12192, 13752, 3)

In [9]:
final_df.head()
# print("finished")

                   filename width height         category   x1   y1   x2   y2
0  train_00_03000_07800.jpg   600    600  ship_not_moving   45  585   56  609
1  train_00_03000_07800.jpg   600    600  ship_not_moving   38  581   44  609
2  train_00_03000_07800.jpg   600    600  ship_not_moving   31  580   36  607
3  train_00_03600_07200.jpg   600    600  ship_not_moving  591   -5  605   33
4  train_00_03600_07200.jpg   600    600  ship_not_moving  591   94  602  131

In [10]:
final_df = final_df.rename(columns={'category': 'class', 'x1': 'xmin', 'y1': 'ymin', 'x2': 'xmax', 'y2': 'ymax'})
trial = deepcopy(final_df)

## If trying your own large dataset- 
### Save the final_df as train_labels.csv here, Need not to follow below steps.

## This model's objective is to detect "ship" and "barge" only. So convert "ship_not_moving" and "ship_moving" category to "ship"

In [11]:
# the model's target is to detect "ship" and "barge" only. So convert "ship_not_moving" and "ship_moving" category to "ship"
for idx, row in trial.iterrows():
    if trial.loc[idx, 'class']== 'ship_not_moving' or trial.loc[idx, 'class']== 'ship_moving':
        trial.loc[idx, 'class']= 'ship'
        
trial.head()

                   filename width height class xmin ymin xmax ymax
0  train_00_03000_07800.jpg   600    600  ship   45  585   56  609
1  train_00_03000_07800.jpg   600    600  ship   38  581   44  609
2  train_00_03000_07800.jpg   600    600  ship   31  580   36  607
3  train_00_03600_07200.jpg   600    600  ship  591   -5  605   33
4  train_00_03600_07200.jpg   600    600  ship  591   94  602  131

In [12]:
trial['xmin'][trial['xmin'] < 0] = 0
trial['ymin'][trial['ymin'] < 0] = 0
trial['xmax'][trial['xmax'] < 0] = 0
trial['ymax'][trial['ymax'] < 0] = 0
trial['xmin'][trial['xmin'] > 600] = 600
trial['ymin'][trial['ymin'] > 600] = 600
trial['xmax'][trial['xmax'] > 600] = 600
trial['ymax'][trial['ymax'] > 600] = 600
trial.head()

                   filename width height class xmin ymin xmax ymax
0  train_00_03000_07800.jpg   600    600  ship   45  585   56  600
1  train_00_03000_07800.jpg   600    600  ship   38  581   44  600
2  train_00_03000_07800.jpg   600    600  ship   31  580   36  600
3  train_00_03600_07200.jpg   600    600  ship  591    0  600   33
4  train_00_03600_07200.jpg   600    600  ship  591   94  600  131

In [13]:
train_labels = trial.loc[~trial['filename'].str.contains('train_02_', case=True, flags=0, regex=True)]
test_labels = trial.loc[trial['filename'].str.contains('train_02_', case=True, flags=0, regex=True)]

train_labels.to_csv('training_data/train_labels.csv', index= False)
test_labels.to_csv('training_data/valid_labels.csv', index= False)

In [14]:
split_img_dir= sorted(glob.glob('training_data/train_images/*.jpg'))
for i in range(0, len(split_img_dir)):
    moving_file = 'train_02_' in split_img_dir[i]
    if moving_file:
        src = split_img_dir[i]
        dst = "training_data/valid_images/" + split_img_dir[i].split('\\')[-1]
        shutil.move(src, dst)

In [15]:
## Now the training data and validation data has been created. Create tfrecord to proceed